@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./Assets/background-img.svg);
  font-family: "Inter", sans-serif;
  row-gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: white;
  padding: 5%;
}

.header {
  display: flex;
  padding: 7px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.h-list {
  display: flex;
  flex: 0 1;
  flex-direction: row;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.h-list:hover {
  text-decoration: underline;
  color: #ffb41f;
  transition: 800ms;
}

.logo {
  width: 175px;
}

.uo-list {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  background-color: #1a1a1a;
  border: 2px solid #383838;
  border-radius: 16px;
  padding: 2%;
}

.hero-img {
  width: 300px;
}

.hero-sec {
  display: flexbox;
  flex-direction: row;
  column-gap: 6px;
  row-gap: 30px;
}

.hero-txt {
  font-size: 28px;
}

.decorative-ht {
  font-size: 28px;
  color: #ffb41f;
  line-height: 52px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.uo-socials {
  display: grid;
  color: #ffb41f;
  grid-auto-flow: row;
  column-gap: 10px;
  align-self: center;
  text-decoration: none;
  padding: 2%;
}

.social-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  border: 2px solid #ffb41f;
  border-radius: 7px;
  padding: 8px;
}

.key-feature {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.kf-img {
  width: 180px;
}

.news-letter {
  display: flex;
  flex-wrap: wrap;
  background-color: #383838;
  padding: 10px;
  border: 2px solid #383838;
  border-radius: 8px;
}

.newsletter-title {
  flex: 1 0 100%;
}

.email {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 3px;
}

.button {
  width: 100px;
  height: 23px;
  font-size: 20px;
  font-style: storng;
  border-radius: 3px;
  font-family: "Inter", san-serif;
  background-color: #ffb41f;
  color: black;
  border: none;
  margin-left: 10px;
}

.card2 {
  display: flex;
  flex-direction: column;
}

.blogs {
  display: flex;
  flex: 0 1;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.blogs-img {
  max-width: 250px;
}

.heading-underline {
  text-decoration: 2.5px underline;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}

.about-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about-para {
  color: #9e9e9e;
}

.our-vision {
  row-gap: 20px;
}

.mission-list {
  padding-left: 20px;
}

.decorative-heading {
  color: #ffb41f;
  text-decoration: none;
}

.footer {
  background-color: #1a1a1a;
  display: flex;
  color: #9e9e9e;
  column-gap: 100px;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer.social {
  background-color: #383838;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  grid-area: span;
  row-gap: 30px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    row-gap: 60px;
    padding: 0 8%;
  }
  .hero {
    flex-direction: row;
    row-gap: 10px;
    align-items: center;
  }
  .hero-img {
    width: 550px;
  }
  .hero-sec {
    flex-direction: column;
    row-gap: 20px;
  }
  .hero-txt {
    font-size: 48px;
  }
  .socials {
    flex-direction: row;
  }
  .uo-socials {
    grid-auto-flow: column;
    padding: 10%;
  }
  .key-feature {
    flex-direction: row;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    row-gap: 10px;
  }
  .kf-img {
    height: 180px;
  }
  .blogs {
    flex-direction: row;
    column-gap: 40px;
  }
  .card2 {
    flex-direction: column;
  }
  .news-letter {
    flex-wrap: no-wrap;
  }
  .newsletter-title {
    flex: 1 1 auto;
  }
  .about {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    justify-content: space-between;
  }
  .decorative-ht {
    font-size: 48px;
  }
  .footer {
    margin-top: 20px;
  }
  .footer-links {
    flex-direction: row;
    column-gap: 18px;
  }
}
