@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./Assets/background-img.svg);
  font-family: "Inter", sans-serif;
}
.container {
  justify-content: center;
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  row-gap: 60px;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: space-between;
}
.h-list {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
}
.h-list:hover {
  text-decoration: underline;
  color: #ffb41f;
  transition: 800ms;
}
.logo {
  width: 200px;
}
.uo-list {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-self: center;
  text-decoration: none;
  padding: 5px;
}
.hero {
  justify-content: center;
  width: 1150px;
  margin: auto;
}
.hero-img {
  width: 1150px;
  margin: auto;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  margin: auto;
}
.uo-socials {
  display: flex;
  height: 40px;
  color: #ffb41f;
  flex-direction: row;
  column-gap: 10px;
  align-self: center;
  text-decoration: none;
  padding: 2px;
}
.social-li {
  display: flex;
  flex-direction: row;
  border: 2px solid #ffb41f;
  border-radius: 7px;
  padding: 2px;
}
.key-feature {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 1050px;
  margin: auto;
}
.card {
  flex: 1 0;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.kf-img {
  width: 180px;
  align-items: center;
}
.kf-alignment {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}
.news-letter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #383838;
  padding: 10px;
  border: 2px solid #383838;
  border-radius: 8px;
}
.button {
  text-decoration: solid;
  width: 65px;
  border-style: none;
  border-radius: 4px;
  color: black;
  background-color: #ffb41f;
}
.blogs {
  display: flex;
  flex: 1 0;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  width: 1050px;
  margin: auto;
}
.heading-underline {
  text-decoration: 2.5px underline;
}
.blogs-img {
  width: 250px;
}
.card {
  width: 300px;
  row-gap: 10px;
}
.about {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin: auto;
}
.about-para {
  width: 890px;
  color: #9e9e9e;
}
.our-vision {
  width: 730px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.mission {
  width: 730px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.decorative-heading {
  color: #ffb41f;
  text-decoration: none;
}
.mission-list {
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  .key-features {
    flex-direction: row;
    column-gap: 30px;
  }
}