@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.content{
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.decorative-txt{
    border: 10px solid darkblue;
    color: white;
    background-color: darkblue;
}
 
.first-content{
    display: flex;
    column-gap: 20px;

}
.ajio{
    color: darkblue;
}
.fc-content{
    justify-items: center;
}
.star{
    background-image: url(./Assets/ajio-img/rainbow-img.png);
}
.rainbow-one{
    background-image: url(./Assets/ajio-img/rainbow-img.png) ;
    background-repeat: no-repeat;
    background-size: 100px 100%;
    border: px solid transparent;
    border-radius: 1200px 800px 300px 2000px  ;
    overflow: hidden;
}
.badshah-img{
    height: 450px;
    display: block;
    background-image: url(./Assets/ajio-img/rainbow-img.png) ;
    background-repeat: no-repeat;
    background-size: 82px 50%;
    background-position: center bottom;
    border: 12px solid transparent;
    border-radius: 150px 600px 300px 500px;
}
.puma-logo{
    height: 50px;
    justify-self: center;
}
.rarerabb-logo{
    height: 95px;
}
.second-content{
    display: flex;
    color: red;
    column-gap: 10px;
    font-style: bolder;
    align-items: center;
}
.sc-heading{
    font-size: 35px;
    color: red;
    justify-items: center;
    
}
.ssc-heading{
    font-size: 50px;
    font-style: italic;
}
.sssc-heading{
    font-style: italic;
   
}
.third-content{
    color: darkblue;
    display: flex;
    column-gap: 10px;
    
}
.heading-tc{
    border-right: 1px solid black;
    padding-right: 10px;
}
.end{
    display: flex;
    justify-content: space-between;
}
.end-hd{
    color: white;
    background-color: crimson;
    border: 10px solid crimson;
}
.t-c{
    transform: rotate(-90deg);
    align-self: flex-end;
}
.ajio-end{
    color: darkblue;
    font-size: 50px;
}