@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&family=PT+Sans:ital@1&family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "Inter", sans-serif;
}
header {
  /* background-color: #B3E283; */

  /* background-color: #85EF47; */
  background-color: black;
  color: white;
  height: 20%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 90%;
}
.logo {
  /* top: 5px; */
  /* padding-top: 18px; */
  /* width: 200px; */
  height: 7.55vh;
}
.nav-child {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.current-pg {
  background-color: rgb(255, 199, 56);
  color: black;
  display: flex;
  align-items: center;
}
.current-pg:hover {
  color: blue;
  border: 2px solid lightcyan;
}
.rest-pg {
  display: flex;
  align-items: center;
}
.rest-pg:hover {
  border: 3px solid lightcyan;
  background-color: rgb(255, 199, 56);
}
.rest-pg a {
  text-decoration: none;
  color: white;
}
.rest-pg a:hover {
  color: black;
}
.current-pg a {
  text-decoration: none;
  color: white;
}
.nav-child li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .nav-child {
    /* display: none; */
    column-gap: 0;
    font-size: 11px;
  }
  nav {
    margin: 0;
    padding-top: 3px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    /* row-gap: 10px; */
  }
  body {
    font-size: 12px;
  }
}
/* HEADER END */
/* HERO START */
.stick {
  position: fixed;
  z-index: 1;
}
.stick-img {
  top: 78vh;
  left: 94vw;
  position: absolute;
  height: 50px;
}
@media screen and (max-width: 1024px) {
  .stick-img {
    top: 85vh;
    left: 89vw;
    height: 35px;
  }
}
.hero {
  background-image: url(./assets/190501-Healthcare.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin: auto;
  padding: 30px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-img {
  width: 50%;
  min-width: 280px;
  border-radius: 12px;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
.hero-qualities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.quality-service {
  list-style: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  min-width: 2px;
  /* animation: myAnim 2s ease 0s 1 normal forwards; */
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.quality-service:hover {
  color: green;
}
.quality-img {
  border: 2px solid green;
  padding: 10px;
  border-radius: 50% 50%;
  max-height: 50px;
  max-width: 50px;
  height: 40%;
  /* width: 50%; */
  min-height: 40px;
  min-width: 40px;
}
@media screen and (min-width: 360px) {
  .hero-qualities {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .hero-qualities {
    flex: 0 1 60%;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .quality-service {
    display: flex;
    padding: 10px;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    align-items: center;
    height: 110px;
    width: 50%;
  }
}
/* card start here */
.about-us {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.about-us h3 {
  padding: 30px 0 0 0;
}
.holder {
  display: flex;
  row-gap: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 0 1 100%;
}
.card {
  /* min-width: 500px; */
  width: 250px;
  /* background: black; */
  border: 3px solid white;
  border-radius: 10px;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.card ul {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
}
.card ul li {
  display: inline;
  list-style: none;
}
.social-link {
  text-decoration: none;
  color: black;
}
.end {
    background-color: black;
  }
  footer {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
  
  }
  .footer-logo {
    height: 80px;
  }
  .adi-footer {
    width: 100%;
    align-items: center;
    display: flex;
  }
  .link-footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .links-footer li {
    list-style: none;
  }
  .privacy-policy li {
    list-style: none;
  }
  .footer-contact {
    display: block;
  }
  @media screen and (max-width: 640px) {
    footer {
      flex-direction: column;
      row-gap: 20px;
      margin: auto;
      width: 100%;
    }
    .footer-logo {
      margin: auto;
      height: 10vh;
    }
    .adi-footer {
      flex-direction: column;
      row-gap: 20px;
    }
    .link-footer {
      /* width: 100%; */
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .links-footer li {
      list-style: none;
    }
  }
